@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-line{
@apply transition w-7 h-1 relative bg-black after:w-8 after:h-1 after:bg-black after:absolute after:transition after:top-2 after:right-0 before:w-6 before:h-1 before:bg-black before:absolute before:-top-2 before:right-0;
}

@layer components {
  .product-img{
    box-shadow:
    0px 2.6px 2.2px rgba(0, 0, 0, 0.039),
    0px 6.3px 5.3px rgba(0, 0, 0, 0.057),
    0px 11.8px 10px rgba(0, 0, 0, 0.07),
    0px 21px 17.9px rgba(0, 0, 0, 0.083),
    0px 39.3px 33.4px rgba(0, 0, 0, 0.101),
    0px 94px 80px rgba(0, 0, 0, 0.14)
  ;
  }

  .hero {
    @apply h-fit mt-10
  }

  .btn{
    @apply flex justify-center items-center duration-100 py-4 px-6 bg-[#141414] text-white rounded-md hover:bg-[#4B4B4B] disabled:bg-gray-400
  }

  .card{
    box-shadow:
      0px 0.4px 0.3px rgba(0, 0, 0, 0.014),
      0px 1px 0.7px rgba(0, 0, 0, 0.02),
      0px 1.9px 1.4px rgba(0, 0, 0, 0.025),
      0px 3.4px 2.5px rgba(0, 0, 0, 0.03),
      0px 6.3px 4.6px rgba(0, 0, 0, 0.036),
      0px 15px 11px rgba(0, 0, 0, 0.05)
    ;

    @apply duration-100 bg-white h-[350px] rounded-xl overflow-hidden border border-[#D1D1D1] hover:scale-[1.03]
  }

  .form-input{
    @apply border border-gray-300 p-4 rounded-lg 
  }

  .inputError{
    @apply border-2 outline-red-500 border-red-500 bg-red-200 placeholder:text-red-900
  }

  .nav-link{
    @apply relative font-bold after:h-0.5 after:w-0 after:absolute after:bg-black after:left-0 after:bottom-0 hover:after:w-full after:duration-300

  }
  .hamburger-line-active{
    @apply transition duration-200 rotate-45 w-8 h-1 relative bg-black after:w-8 after:h-1 after:bg-black after:transition after:absolute after:top-0 after:-rotate-90 after:right-auto before:w-8 before:transition before:h-1 before:bg-black before:absolute before:rotate-90 before:top-0 before:right-auto;
   }
}



.inner{
  @apply max-w-7xl my-0 mx-auto
}
.mobile-nav-active{
  height: calc(100vh - 80px);
  @apply w-full z-[100]
  
}

.animate-in{
  animation: animate-in 400ms ease-in;
  animation-delay: attr(data-delay s);
}

nav a:nth-child(2){
  animation-delay: 0ms;
}
nav a:nth-child(3){
  animation-delay: 20ms;
}
nav a:nth-child(4){
  animation-delay: 40ms;
}
nav a:nth-child(5){
  animation-delay: 80ms;
}

#userButton {
  animation-delay: 60ms;
}
@keyframes animate-in {
  0%{
    transform: translateX(-120px);
  }
  100%{
    transform: translateX(0px);
  }
}